/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

:root {
  --main-color: #2b1103;
  --sub-color: #dcc69c;
  --white: #fff;
  --border: 0.1rem solid rgba(220, 198, 156, 0.3);
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  text-decoration: none;
}

*::selection {
  background: var(--sub-color);
  color: var(--main-color);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::webkit::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  border-radius: 0.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  background: var(--main-color);
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--sub-color);
  padding: 1rem 3rem;
  border: var(--border);
  text-transform: capitalize;
  transition: 0.2s linear;
  margin-top: 1rem;
  background: var(--main-color);
}

.btn:hover {
  border-radius: 5rem;
  background: var(--sub-color);
  color: var(--main-color);
}

/* header */

.header {
  padding-bottom: 0;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header .flex .btn {
  margin-top: 0;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--sub-color);
}

.header .flex .fa-bars {
  font-size: 3rem;
  color: var(--sub-color);
  cursor: pointer;
  display: none;
  margin-top: 1rem;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  margin-top: 2rem;
  background: var(--sub-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.header .navbar a {
  font-size: 1.8rem;
  color: var(--main-color);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

.header .navbar a:hover {
  background: var(--main-color);
  color: var(--sub-color);
}

/* home */

.home .box img {
  border: var(--border);
  border-radius: 0.5rem;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.home .box .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.home .box .flex h3 {
  font-size: 2.5rem;
  color: var(--sub-color);
  text-transform: capitalize;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 3rem 2rem;
  background: var(--white);
  top: 40%;
  opacity: 0.7;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: var(--main-color);
}

/* availability */

.availability form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.availability form .flex .box {
  flex: 1 1 20rem;
}

.availability form .flex .box p {
  font-size: 2rem;
  color: var(--sub-color);
}

.availability form .flex .box .input {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: var(--white);
  background: var(--main-color);
  border-bottom: var(--border);
  margin: 1rem 0;
}

.availability
  form
  .flex
  .box
  input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* about */

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 40rem;
  border-radius: 0.5rem;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--sub-color);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.about .row .content p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--sub-color);
}

.about .row.revers {
  flex-flow: row-reverse;
  flex-wrap: wrap;
  margin: 3rem 0;
}

/* services */

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.services .box-container .box {
  padding: 2rem;
  text-align: center;
}

.services .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: var(--sub-color);
  text-transform: capitalize;
  margin: 1rem 0;
}

.services .box-container .box p {
  line-height: 2;
  font-size: 1.5rem;
  color: var(--sub-color);
}

/* reservation */

.reservation form {
  padding: 2rem;
  border: var(--border);
}

.reservation form h3 {
  background: var(--sub-color);
  color: var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

.reservation form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.reservation form .flex .box {
  flex: 1 1 40rem;
}

.reservation form .flex .box .input {
  padding: 1rem 0;
  margin: 1rem 0;
  background: var(--main-color);
  color: var(--white);
  border-bottom: var(--border);
  font-size: 1.8rem;
  width: 100%;
}

.reservation form .flex .box p {
  font-size: 1.8rem;
  color: var(--sub-color);
}

.reservation
  form
  .flex
  .box
  input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* gallery */

.gallery img {
  height: 40rem;
  width: 60rem;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-bottom: 4rem;
  user-select: none;
}

.swiper-pagination-bullet {
  background: var(--sub-color);
}

.swiper-pagination-bullet-active {
  background: var(--white);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

/* contact */

.contact .row {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}

.contact .row form {
  flex: 1 1 40rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.contact .row form h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  background: var(--sub-color);
  color: var(--main-color);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1.2rem;
  text-transform: capitalize;
}

.contact .row form .box {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: var(--border);
  font-size: 1.8rem;
  color: var(--sub-color);
  background: var(--main-color);
}

.contact .row form .box::placeholder {
  color: rgba(220, 198, 156, 0.6);
}

.contact .row form textarea {
  resize: none;
  height: 15rem;
}

.contact .row .faq {
  flex: 1 1 40rem;
}

.contact .row .faq .title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--sub-color);
  text-transform: capitalize;
  text-align: center;
}

.contact .row .faq .box {
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.contact .row .faq .box h3 {
  font-size: 2rem;
  background: var(--sub-color);
  color: var(--main-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.contact .row .faq .box p {
  font-size: 1.7rem;
  padding: 1.5rem 2rem;
  line-height: 2;
  color: var(--sub-color);
  display: none;
}

.contact .row .faq .box.active p {
  display: inline-block;
}

/* reviews */

.reviews {
  padding-top: 0;
}

.reviews .box {
  padding: 2rem;
  text-align: center;
  user-select: none;
  margin-bottom: 4rem;
}

.reviews .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.reviews .box h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--sub-color);
}

.reviews .box p {
  line-height: 2;
  font-size: 1.7rem;
  color: var(--sub-color);
}

/* bookings */

.bookings .heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--sub-color);
  text-transform: capitalize;
}

.bookings .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;

}

.bookings .box-container .box{
  padding: 2rem;
  padding-top: 1rem;
  border: var(--border);
  border-radius: .5rem;
}

.bookings .box-container .box p{
  line-height: 1.5;
  padding-top: 0.5rem;
  font-size: 1.8rem;
  color: var(--sub-color);
}

.bookings .box-container .box  span{
  color: var(--white);
}


/* footer */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 3rem;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.8rem;
  color: var(--sub-color);
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: var(--white);
}

.footer .box-container .box:first-child i {
  margin-right: 1.7rem;
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
}

.footer .box-container .box:last-child {
  text-align: right;
}

.footer .box-container .box:last-child i {
  margin-left: 1.7rem;
}

.footer .credit {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--sub-color);
  color: var(--main-color);
  font-size: 2rem;
}

/* media query */

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  .header .flex .fa-bars {
    display: inline-block;
  }

  .header .flex .btn {
    display: none;
  }

  .header .navbar {
    flex-flow: column;
    padding: 2rem;
    display: none;
  }

  .header .navbar.active {
    display: flex;
  }

  /* home */
  .home .box img {
    height: 40vh;
  }

  /* swiper-button */
  .swiper-button-next,
  .swiper-button-prev {
    top: 35%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  /* header */
  .header .flex .logo {
    font-size: 2rem;
  }

  /* home */
  .home .box img {
    height: 25vh;
  }

  /* about */
  .about .row .image img {
    width: 100%;
  }
}
